<div class="numbers">
	<div class="uk-container uk-container-small">
		<div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body uk-animation-slide-left box-blue">
					<h3 class="uk-card-title main-title">Facilidade</h3>
					<span class="uk-text-meta main-text">Tudo que seu animalzinho precisa, você encontra aqui.</span>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body uk-animation-slide-right box-blue">
					<h3 class="uk-card-title main-title">Compare</h3>
					<span class="uk-text-meta main-text">Escolha os melhores profissionais, produtos e serviços.</span>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="uk-divider-icon">

<div class="uk-section uk-section-default" style="
background-image: url(&quot;https://static.pexels.com/photos/24104/pexels-photo-24104.jpg&quot;);
background-attachment: fixed;
background-position: center top;
background-repeat: no-repeat;
background-size: 100%;
">
<div class="uk-container">

	<div class="uk-grid-match uk-child-width-1-2@m uk-animation-slide-top" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<h3>Como Funciona?</h3>
				<p>Para encontrar as melhores opções de serviços, produtos e profissionais para o seu melhor amigo é muito simples:</p>
				<ul>
					<li>Digite ou selecione o serviço.</li>
					<li>Iremos te mostrar as melhores opções!</li>
				</ul>
				<p style="text-align: center;">Simples e fácil.</p>
			</div>
		</div>

		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<h3>Porque Utilizar?</h3>
				<p>Descomplique. </p>
				<p>Nós indicamos de maneira rápida os profissionais, produtos e serviços mais pertinho de você.</p>
			</div>
		</div>
	</div>

</div>
</div>

<div class="uk-section uk-section-primary uk-light">
	<div class="uk-container">

		<h3>PET - 101 Serviços</h3>

		<div>
			<div class="uk-align-center">PET.101 Servicos.com</div><br/>
			<div class="uk-align-center">101Servicos -  2017 – A maior plataforma de serviços da WEB <a href="" uk-icon="icon: facebook"></a></div>
		</div>

	</div>
</div>


<!-- This is the modal with the default close button -->
<div id="login-modal" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<h2 class="uk-modal-title">Entrar</h2>
		<div class="uk-container">
			<form uk-grid class="uk-grid-collapse">

				<div class="uk-width-1-1">
					<div class="uk-inline" style="width: 100%;">
						<span class="uk-form-icon" uk-icon="icon: user"></span>
						<input class="uk-input" placeholder="Usuario" type="text">
					</div>
				</div>

				<div class="uk-width-1-1">
					<div class="uk-inline" style="width: 100%;">
						<span class="uk-form-icon" uk-icon="icon: lock"></span>
						<input class="uk-input" placeholder="Senha" type="text">
					</div>
				</div>

				<br/><br/>

				<div class="uk-width-1-1 uk-text-right">
					<button type="submit" class="uk-button uk-button-primary ">Entrar</button>
				</div>


			</form>
		</div>
	</div>
</div>